html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all .7s;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 32%;
  bottom: 10%;
}

.polaroid:nth-child(1) {
  left: 450px;
  top: 250px;
  transform: rotate(-15deg);
  z-index: 1;
}

.polaroid:nth-child(3) {
  left: 650px;
  top: 275px;
  transform: rotate(25deg);
  z-index: 2;
}

.polaroid:nth-child(2) {
  left: 550px;
  top: 350px;
  transform: rotate(10deg);
  z-index: 3;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 4;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 1);
}
